<div class="container mx-auto grow">
    <div class="hidden print:flex justify-end">
        <p class="mr-6">
            <span class="font-bold">Name:</span> _______________________
        </p>
        <p>
            <span class="font-bold">Date:</span> _______________________
        </p>
    </div>

    <h1 class="text-4xl my-10 md:my-0 md:text-9xl silkscreen text-center">
        Times Table
    </h1>

    <actions />

    <table-row [isHeader]="true" [options]="options" />

    @for (option of options; track option) {
        <table-row [yAxisLabel]="option" [options]="options" />
    }
</div>