<div class="container font-bold flex items-center text-sm md:text-base">
    @let time = time$ | async;
    @let stopped = stopped$ | async;

    @if (time === 0) {
        <button class="text-sm md:text-base flex start-btn p-2 px-4 mr-4 rounded bg-lime-500 hover:bg-lime-600 font-bold" (click)="start()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden sm:block">
                <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
            </svg>              
            Start Timer
        </button>
    } @else if (!stopped && time !==0) {
        <button class="text-sm md:text-base flex stop-btn p-2 px-4 mr-4 rounded bg-rose-500 hover:bg-rose-600 font-bold" (click)="stop()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden sm:block">
                <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z" clip-rule="evenodd" />
            </svg>              
            Stop
        </button>
    } @else {
        <button class="text-sm md:text-base flex stop-btn p-2 px-4 mr-4 rounded bg-slate-300 hover:bg-slate-400 font-bold" (click)="reset()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden sm:block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
            </svg>            
            Reset
        </button>
    }
    @if (time) {
        {{time | timerCount}}
    } @else {
        {{0 | timerCount}}
    }
</div>
